* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("bg.jpg") no-repeat center center/cover;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  z-index: -1;
}

header {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 0.85;
}

.calculator {
  width: 340px;
  padding: 20px;

  background: white;
  backdrop-filter: blur(20px);

  border-radius: 20px;
  box-shadow: 0 0 40px white;

  margin: auto;
}

.display {
  width: 100%;
  height: 60px;
  background: #020617;
  border: none;
  border-radius: 10px;
  color: pink;
  font-size: 24px;

  padding: 10px;
  margin-bottom: 15px;

  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

button {
  height: 50px;
  border: none;
  border-radius: 12px;
  background: pink;
  color: black;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: pink;
  color: black;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
}

.operator {
  color: pink;
}

.equal {
  background: pink ;
  color: black;
  grid-column: span 2;
}

@media (max-width: 400px) {
  .calculator {
    width: 90%;
  }
}
